#top{
    border: 4px solid blue;
    width: 25%;
    /*Top,Right,Bottom,Left*/
    margin: 10px, 20px, 100px, 400px;
    text-align: center;
}

#bottom{
    border: 4px solid red;
    width: 50%;

    /*even margins*/
    margin: 200px;
    /* margin: auto;*/
    padding: 200px;
}
