h3 {
    color: white;
    text-align: center;
    font-family: monospace;
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
}
h4{
    color: white;
    text-align: center;
    font-family: monospace;
    margin-left: 100px;
    margin-right: 100px;
}

#atas{
    background-color:#001018;
    padding: 14px 14px 14px 14px;
    margin: -14px -14px 28px -14px;

}
#bawah{
    background-color: #001018;
    padding: 28px 28px 667px 28px;
    margin: 134px -14px -14px -14px;
}
section{
    background-color: #001018;
    margin-top: -107px;
    margin-left: 34px;
    margin-right: 34px;
    padding: 80px 140px 80px 140px;
}