#background{
    border: 5px solid #001018;
    background-color: #001018 ;
    width: 95%;
    height: min-height;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

#atas{
    background-color:#001018 ;
    padding: 14px 14px 14px 14px;
    margin: -14px -14px 28px -14px;
}

#text{
    color: white;
    text-align: center;
    font-family: monospace;
    margin-left: 100px;
    margin-right: 100px;
}
h3 {
    font-family: arial;  
    margin-top: 30px;
}

h4{
    font-family: arial;  
}

#submit{
    border: 1px solid white;
    background-color: orange;
    border-radius: 7px;
    width: 95px;
    height: 45px;
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
 
}