body{
    background: url(https://images.unsplash.com/photo-1548192746-dd526f154ed9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80.jpg);
}


div{
    background: plum;
    border: black;
    border-width: thick;
    border-style: dotted;
}

p{
    color: whitesmoke;
}

span{
    background: red;
    color: bl;
}